/**
 * * Global app variables
 *
 * * Colors
 */
$orange: rgb(243, 166, 8);
$brown-dark: rgb(54, 6, 10);
$brown: rgb(135, 73, 21);
$brown2: rgb(124, 84, 60);
$brown-light: rgb(158, 100, 38);
$brown-light2: rgb(178, 125, 56);
$brown-light3: rgb(228, 169, 98);
$brown-light4: rgb(231, 170, 66);
$yellow: rgb(250, 196, 56);
